@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dongle&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Marcellus&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    scroll-behavior: smooth;
}
.main-body{
    width: 100%;
    background-image: linear-gradient(rgba(29, 28, 28, 0.932), rgba(0, 0, 0, 0.678)), url(/images/pexels-hngstrm-2547007.jpg);
    background-position: center;
    background-size: cover;
    height: 120vh;
    scroll-behavior: smooth;

}
.nav-bar{
    display: flex;
    z-index:2;
}
.logo-box .logo{
    width: 50px;
    padding: 20px;
    z-index: 2;
}
.nav-bar-list{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: right;
    margin-right: 100px;
}
.nav-bar-list li{
    padding: 20px;
    margin-top: 10px;
    margin-right: 30px;
    z-index: 2;

}
.nav-bar-list li a{
    text-decoration: none;
    color: #fff;
    z-index: 2;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    transition: 0.5s ease;
}
.nav-bar-list li a:hover{
    color: rgb(136, 135, 135);
    font-size: 15px;
}
#acc:hover .sub-link{
    opacity: 1;
}
.sub-link{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    list-style: none;
    opacity: 0;
    transition: 0.5s ease;
    
}
.sub-link li{
    padding: 0;
    color: white;
    margin-left: 30px;
    width: 10px;
}
.sub-link li a{
    font-size: 14px;
}

.show-case{
    width: 100%;
    display: flex;
    justify-content: left;
}

.shoe-circle{
    width: 750px;
    height: 750px;
    background-color: white;
    border-radius: 50%;
    background: transparent;
    border: 2px solid black;
    margin-top: 30px;
    margin-left: 400px;
}
#dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    margin: 10px;
    display: flex;
}
#dot:nth-child(1)::before{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    width: 0px;
    height: 50px;
    background-color: #fff;
    left: -205px;
    top: -50px;
    margin-left: 50px;

    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

    animation: expandWidth-adj 2s ease infinite; /* Add animation */

}
@keyframes expandWidth-adj {
    0% {
        width: 0px;
        content: "";
    }
    100% {
        width: 160px;
        content: "Adjustable";
    }
}
#dot:nth-child(1){
    position: relative;
    top: 12px;
    left: 28%;
}
#dot:nth-child(2)::before{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "Stable";
    width: 0px;
    height: 50px;
    background-color: #fff;
    left: -208px;
    top: -40px;
    margin-left: 50px;

    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

    animation: expandWidth-sta 2s ease infinite; /* Add animation */

}
@keyframes expandWidth-sta{
    0% {
        width: 0px;
        content: "";
    }
    100% {
        width: 160px;
        content: "Stable";
    }
}
#dot:nth-child(2){
    position: relative;
    top: 200px;
    left: 5px;
}
#dot:nth-child(3)::before{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    width: 0px;
    height: 50px;
    background-color: #fff;
    left:-35px;
    top: -45px;
    margin-left: 50px;

    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

    animation: expandWidth-flex 2s ease infinite; /* Add animation */

}
@keyframes expandWidth-flex {
    0% {
        width: 0px;
        content: "";
    }
    100% {
        width: 160px;
        content: "flexible";
    }
}

#dot:nth-child(3){
    position: relative;
    top: 200px;
    left: 96%;
}
#dot:nth-child(4)::before{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    width: 0px;
    height: 50px;
    background-color: #fff;
    left:-35px;
    top: 12px;
    margin-left: 50px;

    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

    animation: expandWidth-hard1 2s ease infinite; /* Add animation */

}
@keyframes expandWidth-hard1 {
    0% {
        width: 0px;
        content: "";
    }
    100% {
        width: 160px;
        content: "hardness";
    }
}
#dot:nth-child(4){
    position: relative;
    top: 350px;
    left: 97%;
}

#dot:nth-child(5){
    position: relative;
    top: -80px;
    left: 70%;
}
#dot:nth-child(5)::before{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    width: 0px;
    height: 50px;
    background-color: #fff;
    left:-37px;
    top: -47px;
    margin-left: 50px;

    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

    animation: expandWidth-hard 2s ease infinite; /* Add animation */

}
@keyframes expandWidth-hard {
    0% {
        width: 0px;
        content: "";
    }
    100% {
        width: 160px;
        content: "Soft";
    }
}


#dot:nth-child(6){
    position: relative;
    top: 300px;
    left: -12px;
}
#dot:nth-child(6)::before{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    width: 0px;
    height: 50px;
    background-color: #fff;
    left:-205px;
    top: 12px;
    margin-left: 50px;

    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

    animation: expandWidth-hard2 2s ease infinite; /* Add animation */

}
@keyframes expandWidth-hard2 {
    0% {
        width: 0px;
        content: "";
    }
    100% {
        width: 160px;
        content: "Soft";
    }
}

.container{
    width: 520px;
    padding-top: 60px;
}

.shoe{
    position: relative;
    top: -850px;
    left: -110px;
    width: 800px;
    margin-left: 450px;
    animation: shake 2.5s infinite; /* Shake continuously */
    transition: 1s ease;
    scale: 0.1;
}

.show{
    transition: 1s ease;
    scale : 1;
    top: -890px;
    
}

@keyframes shake {
    0% { transform: translate(0px, 0px); 
        }
    25% { transform: translate(-5px, 5px); 
        }
    50% { transform: translate(5px, -5px); 
        }
    75% { transform: translate(-5px, -5px); 
        }
    100% { transform: translate(0px, 0px); 
        }
}


/* mobile */
@media (min-width: 320px) and (max-width: 426px){
    body{
        background-color: red;
    }
    .main-body{
        width: 142%;
        height: 130vh;
    }
}

/* tab */
@media (min-width: 426px) and (max-width: 768px){
    body{
        background-color: rebeccapurple;
    }
    .main-body{
        width: 142%;
        height: 130vh;
    }
}

/* small laptop */
@media (min-width: 769px) and (max-width: 1024px){
    body{
        background-color: rebeccapurple;
    }
    .main-body{
        width: 106%;
        height: 130vh;
    }
}

/* laptop */
@media (min-width: 1025px) and (max-width: 1440px){
    body{
        background-color: rebeccapurple;
    }
    .main-body{
        width: 106%;
        height: 130vh;
    }
}

/* 2k tv, desktop */
@media (min-width: 1441px) and (max-width: 2560px){
    body{
        background-color: black;
    }
    
}



.show-case-matter{
    position: absolute;
    margin-left: 300px;
}

.show-case-matter .top-matter{
    width: 900px;
    height: 200px; 
    color: white;
    margin-top: 700px;
}

.show-case-matter .top-matter .top-matter-text-one{
    position: absolute;
    font-size: 50px;
    opacity: 1;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 20px;
    margin-top: 20px;
    text-shadow: 3px 3px 3px black;

    
    transform: scale(0);

    transition: transform 1s ease;

}

.ani{
    font-size: 50px !important;
    opacity: 1 !important;
}
.top-matter-text-two{
    position: absolute;
    font-size: 300px;
    text-transform: uppercase;
    transform: scale(0);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -0px;
    text-shadow: 3px 3px 3px black;
    transition: transform 1s ease;
}

.tt{
    transform: scale(1) !important;
}






.bottom-matter-box{
    width: 600px;
    margin-top: 130px;
}
.bottom-matter-two {
    position: absolute;
    color: white;
    width: 600px;
    opacity: 1;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 18px;    
}


@keyframes sh {
    0% {
        transform: scale(0.1);
        opacity: 0.2; /* Start with 0 opacity */
    }
    100% {
        transform: scale(1);
        opacity: 1; /* End with full opacity */
    }
}


.collections{
    width: 100%;
    height: 390px;
    margin-top: 1300px;
    margin-left: -520px;
}
.collections-matter{
    position: absolute;
    font-size: 30px;
    color: white;
    margin-top: -60px;
    margin-left: 80px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.collections-info{
    position: absolute;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 280px;
    font-size: 20px;
    text-shadow: 3px 3px 3px black;
    margin-left: 25px;

}

.collections-data{
    display: flex;
    justify-content: space-evenly;
    columns: 3;

}
.box1,.box2,.box3{
    position: absolute;
    width: 400px;
    height: 390px;
    transform: scale(0);
    transition: transform 1.5s ease;


}
#box1{
    left: 70px;

}

#box3{
    right: 70px;

}
.ttt{
    transform: scale(1) !important;
}
.box1{
    background: url(images/pexels-sriram-kodey-479684857-20748952.jpg);
    background-size: 100%;

}
.box2{
    background: url(images/pexels-styves-exantus-7162424-16976087.jpg);
    background-size: 100%;

}
.box3{
    background: url(images/pexels-rodrigo-pederzini-102497840-10155043.jpg);
    background-size: 100%;

}




.button-57 {
    position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    color: #18181a;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 13px 13px 13px;
    text-decoration: none;
    cursor: pointer;
    background: #ffffff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    margin-top: 325px;
    margin-left: 30px;
    border-radius: 50px;
    border: none;
  }
  
  .button-57 span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
  }
  
  .button-57 span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
    border: none;
    font-size: 10px;
    font-family: 3px;

  }
  
  .button-57:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
  }
  
  .button-57:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
    border: none;
  }
  
  .button-57:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
    border: none;

  
}



.provides{
    position: absolute;
    color: black;
    background-color: white;
    width: 100%;
    height: 150px;
    left: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 1870px;
}
.provides-matter{
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: -60px;
    margin-left: 90px;
}
.provides-data{
    display: flex;
    columns: 2;
}
.pro-box1,.pro-box2,.pro-box3,.pro-box4{
    display: flex;
    width: 600px;
    height: 200px;
    align-items: center;
    justify-content: center;
    
}
.pro-box-icon{
    width: 200px;
    height: 200px;
}
.pro-box-icon img{
    font-size: 80px;
    width: 100px;
    width: 100px;
    padding: 20px;
    mix-blend-mode: multiply;
    overflow: hidden;
    z-index: 2;

}
.pro-box-matter{
    margin-left: -70px;
    margin-top: -50px;

    z-index: 1;
}

.arrival{
    position: absolute;
    top: 340vh;
}
.arrival-matter{
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: -60px;
    margin-left: 90px;
    z-index:3;
}

.arrival-box-img {
    position: relative;
    display: flex;
    width: 100%;
    height: 410px;
    overflow-x: scroll; /* Enables horizontal scrolling */
    overflow-y: hidden; /* Restricts vertical scrolling */
    scroll-behavior: smooth; /* Smooth scrolling experience */
}

.arrival-box-img::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #0d0d0d;
}

.arrival-box-img::-webkit-scrollbar {
    height: 8px; /* Custom scrollbar height */
}

.arrival-box-img::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}


.arrival-box-img img {
    width: 600px;
    height: 390px;
    max-width: 100%; /* Makes image responsive */
    object-fit: fill; /* Ensures images cover the assigned area without distortion */
    padding-left: 30px;
}



.button {
    position: absolute;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid black;
    background-color: rgba(36, 35, 35, 0.83);
    margin-top: 320px;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button__icon i{
    color: white;
    font-size: 18px;
  }     
  
  .button:hover {
    background: black;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: black;
  }
  
  .button:active {
    border: 1px solid black;
  }

  .button:nth-child(1){
    margin-left: 30px;
  }
  .button:nth-child(3){
    margin-left: 595px;
  }
  .button:nth-child(5){
    margin-left: 1210px;
  }
  .button:nth-child(7){
    margin-left: 1810px;
  }
  .button:nth-child(9){
    margin-left: 2425px;
  }
  .button:nth-child(11){
    margin-left: 3040px;
  }
  .button:nth-child(13){
    margin-left: 3655px;
  }


.family{
    position: absolute;
    margin-top: 2800px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.family-matter{
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: -60px;
    margin-left: 0px;
    z-index:3;
}
.family-boxs{
    display: flex;
}
.family-box img{
    height: 700px;
    width: 600px;
    object-fit: cover;
}
.family-box video {
    width: 600px; /* Sets the video width to 100% of its container */
    height: 700px;
    object-fit: cover;
}

.family-bottom{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.family-bottom-text1{
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 60px;
}
.family-bottom-text2{
    position: absolute;
    color: white;
    font-size: 70px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;   
    padding: 30px;
    margin-top: 180px;
    text-transform: uppercase;
}


.products{
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal; 
    margin-top: 3900px;
    color: white;
}
.products-matter{
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: -60px;
    margin-left: 90px;
}
.products-data{
    width: 1515px;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;

}
.products-data::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #0d0d0d;
}

.products-data::-webkit-scrollbar {
    height: 8px; /* Custom scrollbar height */
}

.products-data::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.products-mainbox{
    display: flex;
    width: 1900px;
    justify-content: space-evenly;

}
.products-box{
    margin-left: 40px;

}
.product-img img{
    width: 380px;
    height: auto;
}
.product-info{
    margin-bottom: 40px;
}







.sport{
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal; 
    margin-top: 4550px;
    color: white;
}
.sport-matter{
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: -60px;
    margin-left: 90px;
    scroll-behavior: smooth;
}
.sport-data{
    width: 1515px;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;

}
.sport-data::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #0d0d0d;
}

.sport-data::-webkit-scrollbar {
    height: 8px; /* Custom scrollbar height */
}

.sport-data::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.sport-mainbox{
    display: flex;
    width: 1900px;
    justify-content: space-evenly;

}
.sport-box{
    margin-left: 40px;

}

.sport-img img{
    width: 380px;
    height: auto;
    filter: grayscale(100%);


}

.pro-btn{
border-radius: 50px;
box-sizing: border-box;
border: 2px solid rgba(149, 147, 147, 0.758);
font-weight: 500;
max-width: 100%;
text-align: center;
background: white;
cursor: pointer;
height: 32px;
width: 100px;
font-size: 14px;
color: black;
left: 0;
margin-left: 40px;
margin-top: 20px;
z-index: 2;
}
.pro-btn:hover{
    background: rgba(255, 255, 255, 0.649);
    color: black;
}


.fotter{
    position: absolute;
    width: 100%;
    height: 400px;
    background-color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

    margin-top: 5000px;
}
.fotter-data-top{
    display: flex;
    height: 300px;
    margin-left: 100px;
}
.fotter-data-top1,.fotter-data-top2,.fotter-data-top3{
    width: 370px;
    height: 400px;
}
.fotter-data-top1 ul,.fotter-data-top2 ul,.fotter-data-top3 ul{
    margin-top: 30px;
}
.fotter-data-top1 ul li,.fotter-data-top2 ul li,.fotter-data-top3 ul li{
    text-decoration: none;
    list-style: none;
    padding: 7px;
    font-size: 15px;
}
.fotter-data-top1-head1,.fotter-data-top2-head1,.fotter-data-top3-head1{
    font-size: 17px;
    position: absolute;
    font-weight: bolder;
    margin-top: 20px;
    height: 100px;

}
.fotter-data-bootom-text1{
    position: absolute;
    margin-left: 90px;
    margin-top: 40px;
}
.fotter-data-bootom-text2{
    margin-left: 460px;
    position: absolute;
    margin-top: 40px;

}
/* .fotter-data-top1-head2,.fotter-data-top1-head3,.fotter-data-top1-head3,.fotter-data-top1-head4,.fotter-data-top1-head5,.fotter-data-top1-head6,
.fotter-data-top2-head2,.fotter-data-top2-head3,.fotter-data-top2-head4,.fotter-data-top2-head5,.fotter-data-top3-head2,.fotter-data-top3-head3{
    position: absolute;
  
} */

@media (min-width: 769px) and (max-width: 1599px){
    body{
        background-color: black;
    }

    
}
@media (min-width: 1025px) and (max-width: 1650px) and (min-height: 700px) and (max-height: 768px){

    /* #box3{
        right: -10px;
    } */
    /* .provides{
        width: 105%;
    } */
    .arrival{
        position: absolute;
        margin-top: -300px;
    }
    /* .arrival-box-img{
        width: 105%;
    } */
    /* .family{
        margin-left: 50px;
    } */
    /* .fotter{
        width: 106%;
    } */
}
@media (min-width: 1025px) and (max-width: 1650px) and (min-height: 796px) and (max-height:900px){
    body{
        background-color: black;
    }
    .arrival{
        position: absolute;
        margin-top: -600px;
    }
    .shoe{
        margin-top: 155px;
    }
    .show-case-matter{
        margin-top: 50px;
    }

    
}
